<h1><%= @app.name %></h1>
<%= image_tag "/" + @app.bundle_id + "/assets/icon.png", :size => "54x54" %>
<p><%= @app.description %></p>


<h2>How to Download</h2>
<ol>
  <li>
    この画面でSafariのアクションアイコン
    <%= image_tag "safari_action_icon.png", :size => "20x20" %>
    をクリックしてください
  </li>
  <li>「ホームに追加」を選択してください</li>
  <li>ホームからアイコンを開いてください</li>
</ol>



<p>poword by GOMAFU</p>
